.favorite-page {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
  text-align: center;
  color: #333;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.favorite-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #fff;
}

.favorite-item-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 15px;
}

.favorite-item-details {
  flex: 1;
}

.favorite-item-details h3 {
  margin: 0;
  font-size: 1.5rem;
}

.favorite-item-details p {
  margin: 5px 0;
  font-size: 1.5rem;
  color: #555;
}

.favorite-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.favorite-add-to-cart-button,
.favorite-remove-button {
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.favorite-add-to-cart-button {
  background-color: #6b4f4f;
  color: white;
  border: none;
}

.favorite-add-to-cart-button:hover {
  background-color: #8a6565;
}

.favorite-remove-button {
  background-color: #e74c3c;
  color: white;
  border: none;
}

.favorite-remove-button:hover {
  background-color: #c0392b;
}

h2 {
  font-size: 1.8rem;
  margin-top: 20px;
}


@media (max-width: 768px) {
  .favorite-item {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .favorite-item-image {
    height: 60%;
    width: 60%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .favorite-item-details {
    text-align: center;
  }

  .favorite-actions {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 40%;
  }

  .favorite-add-to-cart-button,
  .favorite-remove-button {
    width: 100%;
  }
}
