.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  
}

.header .logo h1 {
  font-size: 24px;
  margin: 0;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-button {
  background: none;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button .lottie-icon {
  width: 50px; /* Consistent size */
  height: 50px; /* Consistent size */
}

.icon-button .badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: rgb(167, 71, 27);
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 5px;
  font-weight: bold;
}
